body{
	background-color: #18F427;
	/*#00FA9A* #00FF7F*/
}

#google_translate_element{
	margin-bottom: 15px;
} 
.container{
	background-color: #228B22;
	margin: auto;
	width: 95%;
	height: 95%; 
	text-align: middle;
	border: 5px dotted #006400;
}
.info{
	margin: auto;	
	text-align: center;
	margin-bottom: 25px;
}
h1{
	font-family: Century;
	font-size: 46px;	
	line-height:50%;
}
.appName {
	color: #000080;
}

.cityName{	
	color: #FFFF00;
}

figure{
	background-color: #008000;
	border: 1px solid #000000;
	padding: 20 px; 
	height: 380px;
	width: 300px;
	margin: auto;

}

figcaption{
	text-align:center;
	font-size: 20px;
    color: #00FA9A; /* Цвет текста */
}

img{
	margin-top:18px;
}

figure:hover::after{
	content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
	width: 30%;
	height: 15%; 
    left: 62%;
	top: 30%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(111,245,158,0.61); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 14px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
   }

 .general_info{
	 left: 7%;
	 text-align: justify;
	  color: #98FB98;
	   font-size: 22px; /* Размер шрифта */
    padding: 5px 40px; /* Поля вокруг текста */
	line-height:120%;
 }
 
.buttonsMain{
	text-align: center;
	margin-left: 40px;
	/*margin:auto;*/
	width: 95%;
	height: 7%; 
	background: #b5bdc8;
    background: linear-gradient(to bottom, #F0FFF0 0%, #00FF00 100%);
    font-size: 30px; /* Размер шрифта */
    padding: 30px 10px; /* Поля вокруг текста */
    color: #006400; /* Цвет текста */
    border: 1px solid #006400; /* Параметры рамки */
    border-radius: 30px; /* Радиус скругления */
	margin-bottom: 30px;
	line-height:20%;
  }
  
 .buttonsMain:hover{
	text-align: center;
	margin-left: 27px;
	width: 97%;
	height: 7%; 
	background: #b5bdc8;
    background: linear-gradient(to top, #7FFFD4 0%, #00FF00 100%);
    font-size: 35px; /* Размер шрифта */
    padding: 30px 10px; /* Поля вокруг текста */
    color: #006400; /* Цвет текста */
    border: 4x solid #000080; /* Параметры рамки */
    border-radius: 30px; /* Радиус скругления */
	margin-bottom: 25px;
	line-height:18%;
  }
  
  
 #history_text {
	text-align: center;
	margin-left: 27px;
	width: 97%;
	height: 7%; 
	font-size: 35px; /* Размер шрифта */
    padding: 30px 10px; /* Поля вокруг текста */
    color: #006400; /* Цвет текста */
   	margin-bottom: 25px;
	line-height:18%;
 }
 
 #history_text p{
	 display: none;
 }
 
 #history_text: target p{
	 display: block;
 }
 
 button:hover, .menuButton:hover{
	-webkit-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
     -khtml-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
       -moz-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
         -o-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
            box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  
  }
 
 .menuButton{
	 display:block;
	text-align: center;
	margin-left: 50%;
	width: 9%;
	height: 19%; 
	background: #b5bdc8;
   background: linear-gradient(to right, #191970 50%, #00FF00 100%);
	
	 /*background: -moz-linear-gradient(#D0ECF4, #5BC9E1, #D0ECF4);
    background: -webkit-gradient(linear, 0 0, 0  100%, from(#191970), to(#00FF00), color-stop(0.5, #00FF7F));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='yellow', endColorstr='#00FF00'); */
   
	
    font-size: 20px; /* Размер шрифта */
    padding: 10px 10px; /* Поля вокруг текста */
    color: #8B008B; /* Цвет текста */
    border: 1px solid #191970; /* Параметры рамки */
    border-radius: 40px; /* Радиус скругления */
	margin-bottom: 30px;
	line-height:20%;
 }
 
  
  .menuButton:hover{
	text-align: center;
	margin-left: 50%;
	width: 9%;
	height: 19%; 
	background: #b5bdc8;
    background: linear-gradient(to left, #191970 50%, #00FF00 100%);
    font-size: 25px; /* Размер шрифта */
      padding: 10px 10px; /* Поля вокруг текста */
    color: #8B008B; /* Цвет текста */
    border: 1px solid #191970; /* Параметры рамки */
    border-radius: 40px; /* Радиус скругления */
	/*margin-bottom: 25px;*/
	line-height:20%;
	}