body{
	background-color: #18F427;
	/*#00FA9A* #00FF7F*/
}

#google_translate_element{
	margin-bottom: 15px;
} 

/*.container{
	background-color: #228B22;
	margin: auto;
	width: 95%;
	height: 95%; 
	text-align: middle;
	border: 5px dotted #006400;
}*/


.map{
	text-align: center;
	margin-left: 40px;
	width:95%;
	height: 95%; 
	/*background: #b5bdc8;
    background: linear-gradient(to bottom, #F0FFF0 0%, #00FF00 100%);
    font-size: 30px; /* Размер шрифта */
    padding: 0; /* Поля вокруг текста */
    color: #8B008B; /* Цвет текста */
    border: 1px solid #006400; /* Параметры рамки */
    /*border-radius: 30px; /* Радиус скругления 
	margin-bottom: 25px;*/
	line-height:20%;
  }
  
 .location{
	 width:95%;
	height: 95%; 
 }
  
 /*.menuButton{
	text-align: center;
	margin-left: 40px;
	width: 100px;
	height: 40px; 
	background: #b5bdc8;
    background: linear-gradient(to bottom, #191970 50%, #00FF00 100%);
	
	/*background: -moz-linear-gradient(#D0ECF4, #5BC9E1, #D0ECF4);
    background: -webkit-gradient(linear, 0 0, 0  100%, from(#191970), to(#00FF00), color-stop(0.5, #00FF7F));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='yellow', endColorstr='#00FF00');
   
	
    font-size: 20px; /* Размер шрифта 
    padding: 10px 10px; /* Поля вокруг текста 
    color: #8B008B; /* Цвет текста 
    border: 1px solid #191970; /* Параметры рамки 
    border-radius: 40px; /* Радиус скругления 
	margin-bottom: 25px;
	line-height:20%;
 }*/
 
 h2{
	text-align: center;
	font-family: Century;
	font-size: 26px;	
	line-height:50%;
	color: #000080;
}