body{
	background-color: #18F427;
	/*#00FA9A* #00FF7F*/
}

#google_translate_element{
	margin-bottom: 15px;
} 

.container{
	 vertical-align: middle;
	background-color: #228B22;
	margin: auto;
	width: 95%;
	/*height: 98%; */
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: middle;
	border: 5px dotted #006400;
}

h1{
	text-align: center;
	font-family: Century;
	font-size: 46px;	
	line-height:50%;
	color: #000080;
}
h2{
	text-decoration:none;
}
.way{
	display:block;
	text-align: center;
	/*margin:auto;*/
	margin-left: 40px;
	width: 95%;
	height: 7%; 
	background: #b5bdc8;
    background: linear-gradient(to bottom, #F0FFF0 0%, #00FF00 100%);
    font-size: 30px; /* Размер шрифта */
    padding: 30px 10px; /* Поля вокруг текста */
    color: #8B008B; /* Цвет текста */
    border: 1px solid #006400; /* Параметры рамки */
    border-radius: 30px; /* Радиус скругления */
	margin-bottom: 25px;
	line-height:20%;
  }
  
 .way:hover{
	text-align: center;
	margin-left: 27px;
	width: 97%;
	height: 7%; 
	background: #b5bdc8;
    background: linear-gradient(to top, #7FFFD4 0%, #00FF00 100%);
    font-size: 35px; /* Размер шрифта */
    padding: 30px 10px; /* Поля вокруг текста */
    color: #8B008B; /* Цвет текста */
    border: 3x solid #00008B; /* Параметры рамки */
    border-radius: 30px; /* Радиус скругления */
	margin-bottom: 25px;
 line-height:18%;}
 
 button:hover, menuButton:hover{
	-webkit-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
     -khtml-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
       -moz-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
         -o-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
            box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  
  }
    
 .menuButton{
	  display:block;
	text-align: center;
	/*margin-left: 40px;*/
	width: 9%;
	height: 19%; 
	background: #b5bdc8;
    /*background: linear-gradient(to right, #191970 50%, #00FF00 100%);
	
	background: -moz-linear-gradient(#D0ECF4, #5BC9E1, #D0ECF4);
    background: -webkit-gradient(linear, 0 0, 0  100%, from(#191970), to(#00FF00), color-stop(0.5, #00FF7F));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='yellow', endColorstr='#00FF00'); */
   
	
    font-size: 20px; /* Размер шрифта */
    padding: 10px 10px; /* Поля вокруг текста */
    color: #8B008B; /* Цвет текста */
    border: 1px solid #191970; /* Параметры рамки */
    border-radius: 40px; /* Радиус скругления */
	margin-bottom: 30px;
	line-height:20%;
 	 margin-left: 45%;
	  background: linear-gradient(to right, #191970 50%, #00FF00 100%);
 }
 
 /* #next{
	 
   	margin-left: 45%;
	background: linear-gradient(to left, #191970 50%, #00FF00 100%);
 }*/
  
  .menuButton:hover{
	text-align: center;
	margin-left: 40px;
	width: 9%;
	height: 19%; 
	background: #b5bdc8;
    background: linear-gradient(to left, #191970 50%, #00FF00 100%);
    font-size: 25px; /* Размер шрифта */
      padding: 10px 10px; /* Поля вокруг текста */
    color: #8B008B; /* Цвет текста */
    border: 1px solid #191970; /* Параметры рамки */
	   border-radius: 40px; /* Радиус скругления */
	   margin-left: 45%;
		line-height:20%;
}
	

